<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Puppy Lovers</title>
  </head>
  <body>
    <h2>All Puppy Lovers!</h2><br>
    <ul>
      <% @users.each do |user| %>
      <li><a href="/users/<%= user.id %>/photos"> <%= user.name %></a></li>
      <% end %>
    </ul>
    
  </body>
</html>
