<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3><%=@photo.title%></h3><br>
    <img src="<%=@photo.url%>" alt="Adorable Puppy">
    <form action="/photos/<%=@photo.id%>/ratings" method="post">
      Your Name: <input type="text" name="name">
      Enter a rating (out of 10) <input type="number" min="10" max="100" name="rating">
      <input type="submit" name="submit" value="Submit Rating">
    </form>
  </body>
</html>
