<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to our Dog Rating App</title>
  </head>
  <body>
    <h2>Welcome!</h2>
    <p>
      We currently have <%= @puppy_lover_count %> puppy lovers!
    </p>
    <a href="/users">View all users</a><br>
    <a href="/users/new">Create new user</a><br>
  </body>
</html>
