<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<<<<<<< HEAD
=======
    <link rel="stylesheet" type="text/css" href="style.css">
>>>>>>> 9bb266694cf5fd28e4caaac85a3c27eb67585fd4
    <title>Welcome to our Dog Rating App</title>
  </head>

  <body>
    <h2>Welcome!</h2>
    <p>
      We currently have <%= @puppy_lover_count %> puppy lovers!
    </p>
    <h3><a href="/users">View all users</a> --- <a href="/users/new">Create new user</a></h3><br>
    <img src="https://www.askideas.com/media/22/Five-Golden-Retriever-Puppies.jpg" height="324" width="576"><br>
  </body>
</html>
